# Making chloropleth maps in Altair

Here's a quick example of how to make a chloropleth map in Altair.  In this example, we'll work with a fairly large data set of baby names in France from 1900-2019, broken down by department.

To work with geographical data, we'll use the `geopandas`, which loads `pandas` dataframes, but with support for geographical outlines in the `geojson` format.  You can use these dataframes just as you would a regular `pandas` dataframe, but they will include that extra geographical outline data.

To get started, we'll need to import our libraries.

In [2]:
import altair as alt
import pandas as pd
import geopandas as gpd # Requires geopandas -- e.g.: conda install -c conda-forge geopandas
from shapely import centroid
alt.data_transformers.enable('json') # Let Altair/Vega-Lite work with large data sets

pass

# Reading our names data

Now, let's read in our dataset.  The exported data is in CSV format, but with a `;` separator instead of commas.  The INSEE data collapses rare names or where department-level information has been elided (presumably to protect individuals with uncommon names or who were one of the only ones born with that name in a given year).  We'll strip those out.

In [3]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)

names.sample(5)

         sexe  preusuel annais  dpt  nombre
2094072     2    CÉCILE   1990   69      51
1381665     1   RAPHAËL   1991  973       6
2219645     2    COLINE   1999   58       6
3019722     2  MARCELLE   1931   41      18
3367202     2    OLYMPE   2018   75      49

In [4]:

unique_preusuel = names['preusuel'].unique()
print(len(unique_preusuel))

unique_annais = names['annais'].unique()
print(min(unique_annais))
print(max(unique_annais))

unique_nombre = names['nombre'].unique()
print(min(unique_nombre))
print(max(unique_nombre))

15270
1900
2020
3
6310

In [5]:
# Assuming 'names' is your DataFrame
# First, group by 'preusuel' (name), 'sexe' (gender), and sum up 'nombre' (number of births) for each group
name_gender_group = names.groupby(['preusuel', 'sexe'])['nombre'].sum()

# Reset index to make 'preusuel' and 'sexe' as columns again
name_gender_group = name_gender_group.reset_index()

# Pivot the table to have separate columns for each gender
# 'sexe' uses 1 for male, 2 for female, so we need to map these to column names
name_gender_pivot = name_gender_group.pivot(index='preusuel', columns='sexe', values='nombre').fillna(0)

# Rename columns for clarity
name_gender_pivot.columns = ['Male', 'Female']

# Calculate the total births for each name and the total for all names
name_gender_pivot['Total Name Count'] = name_gender_pivot['Male'] + name_gender_pivot['Female']
filtered_total = name_gender_pivot['Total Name Count'].sum()  # Sum before filtering

# Apply the filtering criteria
hybrid_names = name_gender_pivot[
    (name_gender_pivot['Male'] / name_gender_pivot['Total Name Count'] >= 0.01) & 
    (name_gender_pivot['Female'] / name_gender_pivot['Total Name Count'] >= 0.01)
]

# Adjust the grand total to reflect only the sum of hybrid names
filtered_hybrid_total = hybrid_names['Total Name Count'].sum()

# Calculate the percentage of each name compared to the filtered hybrid total
hybrid_names['Percentage of Total'] = (hybrid_names['Total Name Count'] / filtered_hybrid_total) * 100

# Sort the results in descending order by the total count
hybrid_names_sorted = hybrid_names.sort_values(by='Total Name Count', ascending=False)

# Print the results
print(hybrid_names_sorted[['Male', 'Female', 'Percentage of Total']].head(20))
print("Sum of percentages:", hybrid_names_sorted['Percentage of Total'].sum())

               Male     Female  Percentage of Total
preusuel
MARIE       24169.0  2231903.0            49.959055
CLAUDE     408989.0    54031.0            10.253237
DOMINIQUE  238623.0   165887.0             8.957576
CAMILLE     73761.0   201738.0             6.100723
YANNICK     84135.0     3270.0             1.935519
IRÈNE         799.0    78429.0             1.754446
JOSÉ        53436.0      629.0             1.197230
SACHA       51873.0     1825.0             1.189103
LOU          1541.0    43781.0             1.003622
ANDRÉA       4182.0    40486.0             0.989140
NOA         30287.0     4597.0             0.772481
CYRILLE     33216.0      583.0             0.748454
MORGAN      28857.0     1070.0             0.662711
ALIX         4911.0    21796.0             0.591407
EDEN        16808.0     9158.0             0.574998
FRANCE        587.0    23236.0             0.527543
GRÉGOIRE    22219.0      493.0             0.502941
CHARLIE     10060.0    10465.0             0.454511
DANY        14564.0     5888.0             0.452894
JACKIE      16429.0      200.0             0.368237
Sum of percentages: 100.00000000000001

C:\Users\devil\AppData\Local\Temp\ipykernel_11600\1763998316.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hybrid_names['Percentage of Total'] = (hybrid_names['Total Name Count'] / filtered_hybrid_total) * 100

In [6]:
print(len(hybrid_names_sorted))
print(hybrid_names_sorted['Percentage of Total'].sum())

517
100.00000000000001

# Loading map data

Next, let's load some map data of regions in France using `geopandas`.  These map data come from the [INSEE] and [IGN] and were processed into the `geojson` format we'll need to work with by [Grégoire David].  Here's the [github] repository.

In this example, we'll work with the simplified departments tiles for the Hexagon, but that repository contains higher-resolution versions, the DOM-TOM, and more.

[Grégoire David]: https://gregoiredavid.fr
[INSEE]: http://www.insee.fr/fr/methodes/nomenclatures/cog/telechargement.asp
[IGN]: https://geoservices.ign.fr/adminexpress
[github]: https://github.com/gregoiredavid/france-geojson/

In [7]:
depts = gpd.read_file('departements-version-simplifiee.geojson')

depts.sample(5)

   code               nom                                           geometry
12   13  Bouches-du-Rhône  POLYGON ((4.73906 43.92406, 4.82174 43.91283, ...
24   26             Drôme  POLYGON ((4.80049 45.29836, 4.8588 45.30895, 4...
58   58            Nièvre  POLYGON ((2.87463 47.52042, 2.8489 47.53754, 2...
10   11              Aude  POLYGON ((1.68842 43.27355, 1.70839 43.29127, ...
74   74      Haute-Savoie  POLYGON ((6.80252 45.77837, 6.75551 45.76635, ...

Notice how `depts` is a geopandas dataframe.  We'll use it just as a regular `pandas` dataframe, but it includes the geometry info we need to be able to draw those regions when we pass them into Altair.  We just need to make sure that when we work with our data, we keep them in a geopandas dataframe and not a plain dataframe if we want to draw the departments.

In the next cell, notice how we do a right-merge to bring in department data into names.  We do this as a merge on `depts` because we need a geopandas dataframe.  Remember, `depts` is a geopandas dataframe, while `names` is a regular dataframe.  If we did a left merge on `names`, we'd end up with a regular pandas dataframe. After this merge, both `names` and `depts` will be geopandas dataframes.

**Hint:** Be careful when you do your data joins here.  It's easy to accidentally merge the wrong way to accidentally create a _much bigger_ dataset.

In [8]:
# Keep a reference around to the plain pandas dataframe, without geometry data, just in case
just_names = names

names = depts.merge(names, how='right', left_on='code', right_on='dpt')

names.sample(5)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
2095494,32,Gers,"POLYGON ((0.07605 43.98314, 0.14096 43.99468, ...",2,CHLOÉ,2001,32,15
210955,17,Charente-Maritime,"MULTIPOLYGON (((-1.4809 46.21003, -1.4528 46.2...",1,BENOÎT,1973,17,23
996399,29,Finistère,"MULTIPOLYGON (((-5.1026 48.43612, -5.1036 48.4...",1,LOIG,1980,29,6
3408012,33,Gironde,"POLYGON ((-0.7188 45.32742, -0.64431 45.32205,...",2,ROMIE,2020,33,3
244754,NaN,NaN,None,1,BRUNO,2009,973,6

# Show a name over all years

Now we'll choose a name to show across all years.  To that, we'll group all of the names in a department together (squashing the years together) and use the sum.

In [9]:
grouped = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False)['nombre'].sum()
grouped = depts.merge(grouped, how='right', left_on='code', right_on='dpt') # Add geometry data back in
grouped

,code,nom,geometry,dpt,preusuel,sexe,nombre
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,AARON,1,160
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABBY,2,3
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDALLAH,1,7
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDEL,1,3
4,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDELKADER,1,3
...,...,...,...,...,...,...,...
239574,NaN,NaN,None,974,ÉSAÏE,1,3
239575,NaN,NaN,None,974,ÉTHAN,1,53
239576,NaN,NaN,None,974,ÉTIENNE,1,3
239577,NaN,NaN,None,974,ÉVA,2,32
239578,NaN,NaN,None,974,ÉVAN,1,10

Now let's pick a name and check out how it's distribution over the last 120 years across Metropolitan France.  In this example, I choose the name “Lucien,” which I rather like for some reason.

In [10]:
name = 'LUCIEN'
subset = grouped[grouped.preusuel == name]
alt.Chart(subset).mark_geoshape(stroke='white').encode(
    tooltip=['nom', 'code', 'nombre'],
    color='nombre',
).properties(width=800, height=600)

alt.Chart(...)

### Viz 2

In [11]:
# add a column 'total_birth' with the total number of births per year and dpt
names['total_birth'] = names.groupby(['annais', 'dpt'])['nombre'].transform('sum')

# Remove na rows
names.dropna(inplace=True)

# Ensure type of columns
names['code'] = names['code'].astype(int)
names['nom'] = names['nom'].astype(str)
names['sexe'] = names['sexe'].astype(int)
names['preusuel'] = names['preusuel'].astype(str)
names['annais'] = names['annais'].astype(int)
names['dpt'] = names['dpt'].astype(int)
names['nombre'] = names['nombre'].astype(int)
names['total_birth'] = names['total_birth'].astype(int)

# Remove rows with missing geometry data
names = names.loc[names['geometry'].notnull()].copy()

names.sample(5)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre,total_birth
1465168,57,Moselle,"POLYGON ((5.8934 49.49691, 5.93994 49.50097, 5...",1,SAMIR,2003,57,3,9307
2128737,69,Rhône,"POLYGON ((4.38808 46.21979, 4.39205 46.26302, ...",2,CLAIRE,2015,69,9,23183
340944,67,Bas-Rhin,"POLYGON ((7.63529 49.05416, 7.67449 49.04504, ...",1,DANIEL,1968,67,124,13942
481943,51,Marne,"POLYGON ((4.04797 49.40564, 4.07691 49.40161, ...",1,EVAN,2017,51,8,4330
31183,69,Rhône,"POLYGON ((4.38808 46.21979, 4.39205 46.26302, ...",1,AÏDAN,2013,69,3,22748

In [36]:
import altair as alt
import pandas as pd

def visualization2(gender):
    # Filter for the specified gender and drop the 'sexe' column
    subset = names.loc[names['sexe'] == gender].copy()
    subset.drop(columns=['sexe'], inplace=True)

    # Ensure the 'code' column is of type string
    subset['code'] = subset['code'].astype(str)

    # Add a column 'ratio' with the ratio of the number of births of the name over the total number of births per year and dpt
    subset = subset.sort_values(by=['annais', 'dpt', 'nombre'], ascending=False).drop_duplicates(subset=['annais', 'dpt'])
    subset['ratio'] = subset['nombre'] / subset['total_birth']

    # Create a parameter for the year with initial value 1900
    year_param = alt.param(value=1900, name='Year')

    # Create a slider for the year and bind it to the parameter
    year_slider = alt.binding_range(min=1900, max=2020, step=1, name='Year:')
    year_select = alt.selection_point(fields=['annais'], bind=year_slider, name='year', value=1900)

    # Create the map for France excluding Île-de-France
    france_map_chart = alt.Chart(subset[~subset['code'].str.startswith(('75', '77', '78', '91', '92', '93', '94', '95'))]).mark_geoshape(stroke='white').encode(
        tooltip=['nom', 'code', 'nombre', 'preusuel', 'annais', 'ratio'],
        color=alt.Color('nombre:Q', scale=alt.Scale(scheme='lightorange'))
    ).transform_filter(
        year_select
    ).properties(
        width=800,
        height=600
    ).add_params(
        year_param
    )

    # Filter for Île-de-France
    ile_de_france = subset[subset['code'].str.startswith(('75', '77', '78', '91', '92', '93', '94', '95'))].copy()

    # Create the map for Île-de-France
    ile_de_france_chart = alt.Chart(ile_de_france).mark_geoshape(stroke='white').encode(
        tooltip=['nom', 'code', 'nombre', 'preusuel', 'annais', 'ratio'],
        color=alt.Color('nombre:Q', scale=alt.Scale(scheme='lightorange'))  # Use the 'greens' color scheme
    ).transform_filter(
        year_select
    ).properties(
        width=400,
        height=300
    ).add_params(
        year_param
    )

    # Calculate centroids for placing the text in France map
    subset['centroid'] = subset['geometry'].apply(lambda geom: centroid(geom) if geom.is_valid else None)
    subset[['centroid_x', 'centroid_y']] = subset['centroid'].apply(lambda p: pd.Series({'centroid_x': p.x, 'centroid_y': p.y}) if p is not None else pd.Series({'centroid_x': None, 'centroid_y': None}))
    subset.drop(columns=['centroid'], inplace=True)

    # Add text marks for 'preusuel' in France map
    france_text_chart = alt.Chart(subset[~subset['code'].str.startswith(('75', '77', '78', '91', '92', '93', '94', '95'))]).mark_text(align='center', baseline='middle', fontSize=10).encode(
        longitude='centroid_x:Q',
        latitude='centroid_y:Q',
        text='preusuel:N'
    ).transform_filter(
        year_select
    ).add_params(
        year_param
    )

    # Calculate centroids for placing the text in Île-de-France map
    ile_de_france['centroid'] = ile_de_france['geometry'].apply(lambda geom: centroid(geom) if geom.is_valid else None)
    ile_de_france[['centroid_x', 'centroid_y']] = ile_de_france['centroid'].apply(lambda p: pd.Series({'centroid_x': p.x, 'centroid_y': p.y}) if p is not None else pd.Series({'centroid_x': None, 'centroid_y': None}))
    ile_de_france.drop(columns=['centroid'], inplace=True)

    # Add text marks for 'preusuel' in Île-de-France map
    ile_de_france_text_chart = alt.Chart(ile_de_france).mark_text(align='center', baseline='middle', fontSize=10).encode(
        longitude='centroid_x:Q',
        latitude='centroid_y:Q',
        text='preusuel:N'
    ).transform_filter(
        year_select
    ).add_params(
        year_param
    )

    # Set title based on gender
    title = 'Most Popular Female Name by Year and Department' if gender == 2 else 'Most Popular Male Name by Year and Department'

    # Combine charts
    france_combined_chart = alt.layer(france_map_chart, france_text_chart).add_params(year_select).properties(
        title=title
    )

    ile_de_france_combined_chart = alt.layer(ile_de_france_chart, ile_de_france_text_chart).add_params(year_select).properties(
        title='Île-de-France'
    )

    final_chart = alt.vconcat(france_combined_chart, ile_de_france_combined_chart)

    return final_chart

In [37]:
visualization2(1)

alt.VConcatChart(...)

In [38]:
visualization2(2)

alt.VConcatChart(...)